/app/settings.php
/app/dependencies.php
/logs/*

/phpunit.xml

/var/*
!/var/.gitkeep
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

/vendor/

/web/bundles/
/web/upload/

/composer.json
/composer.phar
/composer.lock

/.idea
/.project

*DS_Store

*.swp
*.swo
*.swn

